// Packages
@import "kouto-swiss"

// TODO: Remove this here
@import url("/bower_components/font-awesome/css/font-awesome.css")

// Reset
meyer-reset()
box-sizing-reset()
normalize()

// TODO: Remove this here
$font-family = "Helvetica Neue", sans-serif

// Mobile Reset
html, body
  height 100%
  color rgba(0, 0, 0, 0.87)
  background white
  position relative
  font-family $font-family

html, body
  -webkit-tap-highlight-color transparent
  -webkit-touch-callout none
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased

ul, ol, p, h1, h2, h3, h4, h5, h6
  text-rendering optimizeLegibility

// Load the auto generated variables from components
@require "./variables"
@require "./components"

// Modules Goes Here
.wait
  width 100%
  height 100vh
  display flex
  flex-direction row
  align-items center
  overflow hidden
  > span
    text-align center
    flex 1
    width auto
    height auto
