<!DOCTYPE html>
<html lang="en-US">
  <head>

    <title><%= humanizedAppName %></title>

    <!--
      Disables automatic detection of possible phone numbers in a webpage
      on Safari or iOS.
    -->
    <meta name="format-detection" content="telephone=no">

    <!-- Disable tap highlight on windows 8 IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    {% if mobile and cordova %}
    <!-- Cordova -->
    <script src="cordova.js"></script>
    <meta http-equiv="Content-Security-Policy"
          content="default-src "self" data: gap: https://ssl.gstatic.com; style-src "self" "unsafe-inline"; media-src *; connect-src "self" *; img-src "self" content:;">
    {% endif %}

    <!-- FavIcon -->
    <link rel="shortcut icon" href="/favicon.ico?59fd2e2dd83180ccb45755ab970b47e3" />

    <!-- build:css -->
    <!-- Include generated stylesheet (from stylus sources) -->
    <link rel="stylesheet" href="/www/css/main.css">
    <!-- endbuild -->

    <!-- build:polyfill -->
    <script src="/bower_components/es6-shim/es6-shim.js"></script>
    <script src="/bower_components/es6-shim/es6-sham.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <!-- endbuild -->

    <!-- build:js -->
    <!-- Bootstrap module loader and development environment -->
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
    System.import("src/Browser/index").catch(console.warn.bind(console));
    </script>
    <!-- endbuild -->

  </head>
  <body>
    <div id="atomic-app">
      <div class="wait">
        <span class="fa fa-spinner fa-spin"></span>
      </div>
    </div>
  </body>
</html>
